.login-container {
  overflow: auto;
  height: 100%;
  font-family: "Lato", sans-serif;
  .sidenav {
    background-image: url(/assets/img/login_img3.jpg);
    background-size: cover;

    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: safe center;

    .login-main-text {
      padding: 60px;
      color: #fff;

      h2 {
        font-weight: 600;
        text-justify: initial;
        text-shadow: 1px 1px 3px #133e67;
      }

      p {
        background-color: rgba(43, 86, 131, 0.8);
        padding: 40px;
        -webkit-text-emphasis: white;
        text-emphasis: white;
        border-radius: 0 45px 0 45px;

        border-right: 15px solid #6a8cb9;
        border-left: 15px solid #6a8cb9;

        a {
          color: #0f3761;
        }
      }
    }
  }
  .main {
    height: 100%;
    padding: 0 10px;

    .login-form {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: safe center;
    }
  }
  .btn-black {
    background-color: #000 !important;
    color: #fff;
  }
}

@media screen and (max-width: map-get($grid-breakpoints, "lg")) {
  .login-container {
    .main {
      height: unset;
      padding-top: 10%;
      padding-bottom: 10%;
    }
    .sidenav {
      height: unset;
    }
  }
}
