$enable-rounded: false;
$blue: #1b75bc;
$secondary: $blue;

@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";

@import "utils";

@import "login";
@import "map";

// Step Wizard
@import "step-wizard";
@import "step-wizard-transitions";
@import "step-wizard-navigation";

// Pages
@import "home";
@import "showcase";
//@import "homepage";
@import "profile";

@import "video-modal";
