@mixin createBackground($url) {
  &:before {
    position: absolute;
    top: $header-height;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    z-index: -1;
    background: url($url) no-repeat;
    background-size: cover;
    opacity: 0.2;

    @media screen and (max-width: map-get($grid-breakpoints, "lg")) {
      background-position: 0 0;
    }
  }
}
